@import url('./variables.css');

.article-card {
    background-color: var(--color-light-bg); 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s;
    max-width: 350px; 
}

.article-card:hover {
    transform: translateY(-5px); 
}

.card-image-wrapper {
    height: 180px; 
    overflow: hidden; 
}

.card-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: var(--font-size-h3); 
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 10px;
}

.card-description {
    font-size: var(--font-size-base); 
    font-weight: normal;
    color: var(--color-text-light);
    line-height: 1.4;
    margin-bottom: 15px;
}

.read-more-button {
    background-color: var(--color-secondary); 
    color: white;
    font-size: var(--font-size-button); 
    font-weight: bold;
    padding: 8px 20px;
    text-decoration: none; 
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s;
}

.read-more-button:hover {
    background-color: var(--color-secondary-light); 
}



