@import url('./variables.css');

.main-footer {
    background-color: var(--color-background); 
    color: var(--color-text);
    padding-top: 50px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 40px; 
    display: flex;
    justify-content: space-between; 
}

.logo-section {
    text-align: left; 
    flex-basis: 30%;
}

.footer-logo-link {
    display: inline-block;
    transition: opacity 0.3s, transform 0.3s;
}

.footer-logo-link:hover {
    opacity: 0.9;
    transform: translateY(-3px); 
}

.footer-logo-img {
    width: 100px; 
    height: 100px;
    margin-bottom: 10px;
    display: block; 
}

.footer-section {
    flex-basis: 30%; 
}

.footer-section h4 {
    font-size: var(--font-size-h4);
    color: var(--color-text);
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    font-size: var(--font-size-base);
    margin-bottom: 8px;
}

.footer-section a,
.footer-section p {
    text-decoration: none;
    color: var(--color-text-light);
    transition: color 0.3s;
}

.footer-section a:hover {
    text-decoration: underline;
    color: var(--color-primary); 
}

.footer-section p:hover {
    color: var(--color-primary); 
}

.social-icons {
    display: flex;
    gap: 15px; 
    margin-top: 15px;
}

.social-icon-img {
    width: 30px; 
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.social-icon-img:hover {
    transform: scale(1.2); 
}

.footer-bottom {
    background-color: var(--color-header-footer-bg); 
    text-align: center;
    padding: 15px 0;
    font-size: 0.85em;
    color: var(--color-secondary); 
}